.normalSize {
  font-size: 0.3rem;
}

.middleSize {
  font-size: 0.32rem;
}

.bigSize {
  font-size: 0.34rem;
}

.turnGreen {
  color: #28ac28;
}

.turnRed {
  color: #f11600;
}

.turnBlue {
  color: #1e77d3;
}

.turnYellow {
  color: #fb532c;
}

.turnGrey {
  color: #909090;
}

.turnCrude {
  font-weight: 600;
}

.active {
  background: red;
  color: #ffffff;
}

.unactive {
  color: #000;
}
