body, html
  line-height :1
  font-weight :200
  font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif
.clearfix
  display: inline-block
  &:after
    display: block
    content: "."
    height: 0
    line-height: 0
    clear: both
    visibility: hidden
.turnGreen
  color: #28ac28


.turnRed
  color: #f11600

border-1px($color)
  position relative
  &:after
    display block
    position absolute
    left: 0
    bottom 0
    width: 100%
    border-top 1px solid $color
    content ' '


